<form>
  <label for="title">Edit title</label>
  {{input type="text" post=model.title}}

  <label for="title">Edit author</label>
  {{input type="text" post=model.author}}

  <label for="title">Edit content</label>
  {{textarea type="text" post=model.content}}
</form>

<button {{action "goBackToIndex"}}>Click to go back</button>